@import ../../sass/_global

.subject
    &__container
        width: 90%
        margin: 0.5rem auto
        display: flex
        flex-direction: column

    &__back
        cursor: pointer
        text-decoration: underline
        font-size: 20px

    &__back:hover
        color: $dark-blue
    
    &__separator
        width: 100%
        height: 1px
        background-color: darkgrey
        margin: 2% auto
    
    &__container > *
        margin: 3% 0

    &__footer
        display: flex
        justify-content: space-between

    &__creator
        color: rgb(156, 155, 155)

    &__modify
        float: right

    &__modify > *
        margin-right: 3px

.btn
    font: inherit
    border: none
    background: $grey-main
    color: white
    padding: 0.35rem
    cursor: pointer
    border-radius: 5px
    font-size: 18px
    font-weight: bold
    text-decoration: none

    &:hover,
    &:active
        background: $dark-blue
        border-color: $dark-blue

    &:focus
        outline: none


@media screen and (min-width: 768px)
    .subject
        &__container
            max-width: 550px