@import ../../sass/_global

.subject
    &__container
        width: 90%
        display: flex
        flex-direction: column

    &__back
        cursor: pointer

    &__back-icon
        transition: .3s

    &__back-icon:hover
        color: $dark-blue
        transform: translateX(- .5rem)
    
    &__separator
        width: 100%
        height: 1px
        background-color: darkgrey
        margin: 2% auto

    &__info
        display: grid
        grid-template-columns: repeat(2, 1fr)

    &__info-icon
        color: $dark-blue

    &__info div
        grid-column: 1/-1
        margin-bottom: 3%
        display: flex
        align-items: center

    &__creator
        color: $font-color-light

    &__modify
        float: right

    &__modify > *
        margin-right: 3px

.btn
    font: inherit
    border: none
    background: $grey-main
    color: white
    padding: 0.35rem
    cursor: pointer
    border-radius: 5px
    font-size: 18px
    font-weight: bold
    text-decoration: none

    &:hover,
    &:active
        background: $dark-blue
        border-color: $dark-blue

    &:focus
        outline: none


@media screen and (min-width: 768px)
    .subject
        &__container
            max-width: 550px