@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap')
@import './sass/_global'

$font-main: 'Roboto', sans-serif
$font-color: #494848

*
    margin: 0
    padding: 0
    box-sizing: border-box

textarea
    resize: none

input
    border: none

    &:focus
        outline: none

a
    text-decoration: none

body
    font-family: $font-main
    font-size: 19px
    min-height: 100vh
    margin-bottom: 100px
    color: $font-color
    padding: 5px

@media screen and ( min-width: 768px )
    body
        background: linear-gradient(-135deg, rgb(169, 193, 238) 0%, transparent), repeating-linear-gradient(45deg, rgba(169, 193, 238, 1) 0%, rgba(76, 80, 92, 0.6) 5%, transparent 5%, transparent 10%), repeating-linear-gradient(-45deg, rgba(34, 76, 152, 0.4) 0%, rgba(31, 48, 94, 0.5) 5%, transparent 5%, transparent 10%)
        background-color: rgba(34, 76, 152, 0.25)
        background-attachment: fixed
