@import ../../../sass/_global

.feedback
    font-family: inherit
    font-size: 18px
    font-weight: bold
    text-align: center
    &__text
        &.error
            color: red
        &.success
            color: $light-blue