@import ../../../sass/_global

.button
    font: inherit
    border: none
    background: $grey-main
    color: white
    padding: 0.25rem .5rem
    cursor: pointer
    border-radius: 5px


    &:hover,
    &:active
        background: $dark-blue
        border-color: $dark-blue

    &:focus
        outline: none