.button
    font: inherit
    border: 1px solid #0c3dc2
    background: #4466c5
    color: white
    padding: 0.25rem 1rem
    cursor: pointer


    &:hover,
    &:active
        background: #0831a1
        border-color: #0831a1

    &:focus
        outline: none