.card
    background: white
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26)
    border-radius: 5px
    
.detail
    padding: 1rem 1rem 0 1rem

    & > *
        margin-bottom: 6%

    & span
        font-weight: bolder
        font-size: 18px

.secondary
    width: 95%
    background-color: rgb(245, 241, 241)
    padding: 3rem 0
    margin: 1rem auto
    text-align: center
    box-shadow: 10px 10px 8px -5px rgba(0, 0, 0, 0.26)

.description
    padding: .5rem
    font-size: 18px
    text-align: center
    margin: auto
    width: 90%


@media screen and ( min-width: 768px )
    .detail
        padding: 2rem 2rem 1rem 2rem

        & span
            font-weight: bolder
            font-size: 23px
        
        & p
            font-size: 18px


    .description
        width: 75%
        margin: 2rem auto
        padding: 1rem
    