.card
    background: white
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26)
    border-radius: 5px
    
.detail
    padding: 1rem 1rem 0 1rem

    & > *
        margin-bottom: 6%

    & span
        font-weight: bolder
        font-size: 18px

.secondary
    width: 95%
    background-color: rgb(245, 241, 241)
    padding: 3rem 0
    margin: 1rem auto
    text-align: center
    box-shadow: 10px 10px 8px -5px rgba(0, 0, 0, 0.26)