@import ../../sass/_global

.list__container
    width: 80%
    margin: 1rem auto

.list
    &__item
        list-style: none
        padding: .7rem
        cursor: pointer
        margin: 1rem 0
        box-shadow: 6px 6px 10px 1px #00000042
        background-color: white
        border-radius: 2px
        border-top: 6px solid $dark-blue
        color: $font-color
    
    &__item:nth-of-type(2n+1)
        border-top: 6px solid $light-blue
        
    &__item p
        padding: .3rem 0
    
    &__item a
        text-decoration: none
        color: $font-color

    &__item > a:hover,
    &__item > a:active,
    &__item > a.active
        text-decoration: none
        color: $font-color

@media (min-width: 768px)
    .list__container
        width: 45%