.form__container
    width: 370px
    margin: 20px auto
    padding: 10px
    box-shadow: 8px 8px 10px -5px rgba(0, 0, 0, 0.25)
    background-color: white

.form
    width: 90%
    margin: 0 auto

.form *
    margin: 5px 1px
    font-family: inherit
    font-size: 16px

.form__title
    text-align: center

.form__separator
    width: 90%
    height: 2px
    background-color: darkgrey
    margin: 2% auto

.form input
    line-height: 1.7
    border-radius: 2px
    border: 1px solid #ccc
    width: 100%

.form label
    margin-right: 5px

.form select
    width: 100%

.form textarea
    text-indent: 8px
    resize: none
    border: 1px solid #ccc
    width: 100%

.form button
    width: 100%
