.form__container
    width: 90%
    margin: 2px auto
    padding: 10px 5px

.form *
    margin: 5px 1px

.form__title
    text-align: center

.form__separator
    width: 90%
    height: 2px
    background-color: darkgrey
    margin: 2% auto

.form input
    line-height: 1.7
    border-radius: 2px

.form label
    margin-right: 5px

.form textararea
    font-family: inherit
