@import ../../sass/_global
.footer__container
    height: 40px
    background-color: $medium-blue
    position: fixed
    width: 100%
    color: white
    bottom: 0
    left: 0
    width: 100%
    display: flex
    justify-content: space-evenly
    align-items: center