@import ../../sass/_global

.header
    width: 100%
    height: 125px
    background-color: #4466c5
    color: white

    &__user

    &__top-end
        width: 100%
        display: flex
        justify-content: space-between

    &__title
        display: block
        text-align: left
        margin-left: 5px
        letter-spacing: 12px
        font-weight: 800
        height: 60%
        font-size: 25px
        padding-top: 10px

    &__subtitle
        display: block
        font-size: 12px
        margin-left: 5px
        letter-spacing: 10px

    &__form
        display: flex
        padding: 1rem 0
    
    &__form input
        border: 1px solid grey
        width: 100%
        font-size: inherit

    &__form input
        line-height: 2.2
        border-radius: 2px
        text-indent: 10px

    &__form button
        border-radius: 0

    &__welcome
        font-size: 20px

    &__user

    &__logout
        text-decoration: none
        font-size: 16px
        color: inherit
        cursor: pointer

    &__logout:hover,
    &__logout:active
        text-decoration: underline
        font-size: 20px
